<div data-role="header">
  <h1>Aprobar Requerimiento</h1>
  <%= link_to 'Regresar', requerimiento_path(@requerimiento), "data-icon" => "arrow-l" %>
</div>
<div data-role="content">
<%= render 'comentarios_gerente' %>
</div>
