<div data-role="header">
  <h1>Editar Requerimiento</h1>
  <%= link_to 'Regresar', requerimiento_path(@requerimiento), "data-icon" => "arrow-l" %>
</div>
<div data-role="content">
<%= render 'form' %>
</div>
