<div><center>
<% if permitted_to? :edit , @vacante%>
<%= link_to 'Editar', edit_vacante_path(@vacante),  "data-icon" => "gear", "data-role" => "button", "data-inline" => "true" %> 
<% end %>
<% if permitted_to? :cerrar, @vacante%>
<% if @vacante.estatus != 'Cerrada'%>
  <%= link_to 'Cerrar Vacante', {:controller => :vacantes, :action => "cerrar", :id => @vacante},  "data-icon" => "check", "data-role" => "button", "data-inline" => "true" %>
<% end %>
<% end %>
<% if permitted_to? :destroy , @vacante%>
<%= link_to 'Eliminar', @vacante, :confirm => '¿Estás seguro?', :method => :delete,  "data-icon" => "delete", "data-role" => "button", "data-inline" => "true" %>
<% end %>
</center></div>