<center><p id="notice"><%= notice %></p></center>

<center><h1>Reclutamiento de SOLCOM</h1></center>
	<center><p>
	  Esta es la aplicación para llevar a cabo el control del reclutamiento de SOLCOM<br/>
	  Solamente personal de SOLCOM está autorizado a acceder a este sitio.</p>
	</center>
    
  <%= link_to "Acceder!", login_path, :class => "signup_button round" %> 