<center> 
<% if permitted_to? :edit, @departamento %>
<%= link_to 'Editar', edit_departamento_path(@departamento), "data-icon" => "gear", "data-role" => "button", "data-inline" => "true" %> 
<% end %>
<% if permitted_to? :destroy, @departamento %>
<%= link_to 'Eliminar', @departamento, :confirm => '¿Estas seguro?', :method => :delete, "data-icon" => "delete", "data-role" => "button", "data-inline" => "true" %></td> 
<% end %>
</center>