<div data-role="header">
  <h1>Editar Departamento</h1>
  <%= link_to 'Regresar', departamento_path(@departamento), "data-icon" => "arrow-l" %>
</div>
<div data-role="content">
<%= render 'form' %>
</div>
