<div><center>
<% if permitted_to? :edit , @entrevistum%>
<%= link_to 'Editar', edit_entrevistum_path(@entrevistum), "data-icon" => "gear", "data-role" => "button", "data-inline" => "true"%> 
<% end %>
<% if permitted_to? :calificar , @entrevistum and @entrevistum.calificacion == nil %>
<%= link_to 'Calificar', {:controller => :entrevista, :action => "calificar", :id => @entrevistum}, "data-icon" => "check", "data-role" => "button", "data-inline" => "true"%> 
<% end %>
<% if permitted_to? :cancelar , @entrevistum%>
<%= link_to 'Cancelar', {:controller => :entrevista, :action => "cancelar", :id => @entrevistum}, "data-icon" => "minus", "data-role" => "button", "data-inline" => "true"%> 
<% end %>
<% if permitted_to? :destroy , @entrevistum%>
<%= link_to 'Eliminar', @entrevistum, :confirm => '¿Estás seguro?', :method => :delete, "data-icon" => "delete", "data-role" => "button", "data-inline" => "true" %></td> 
<% end %>
</center></div>