<div data-role="header">
  <h1>Editar Entrevista</h1>
  <%= link_to 'Regresar', entrevistum_path(@entrevistum), "data-icon" => "arrow-l" %>
</div>
<div data-role="content">
<%= render 'form' %>
</div>
