<div><center>
<% if permitted_to? :edit, @solicitud%>
<%= link_to 'Editar', edit_solicitud_path(@solicitud),"data-icon" => "gear", "data-role" => "button", "data-inline" => "true"%> 
<% end %>
<% if permitted_to? :destroy, @solicitud%>
<%= link_to 'Eliminar', @solicitud, :confirm => '¿Estás seguro?', :method => :delete, "data-icon" => "delete", "data-role" => "button", "data-inline" => "true" %></td> 
<% end %>
</center></div>