<div data-role="header">
  <h1>Editar Solicitud</h1>
  <%= link_to 'Regresar', solicitud_path(@solicitud), "data-icon" => "arrow-l" %>
</div>
<div data-role="content">
<%= render 'form' %>
</div>
