<center><h1>Lista de Ãreas</h1></center>
<br/>


<table>
  <tr>
    <th>Nombre</th>
    <th>Gerente</th>
  </tr>
  </tr>

<% @areas.each do |area| %>
  <tr>
    <td><%= link_to area.nombre, area %></td>
    <td><%= link_to area.usuario.display_name, area.usuario %></td>
   </tr>
<% end %>
</table>

<br />
<% if permitted_to? :create, Area.new %>
<%= link_to 'Nueva Ãrea', new_area_path, :class => "primary button" %>
<% end %>
