  <div>
    <center>
	<%= link_to_function "Actualizar Usuario", "document.getElementById('forma_usuario').submit();" , :class=> 'primary button' %>
  <%= link_to 'Regresar', current_user, :class => "primary button" %>
</center>
  </div>