<div data-role="header">
  <h1>Editar Posición</h1>
  <%= link_to 'Regresar', posicion_path(@posicion), "data-icon" => "arrow-l" %>
</div>
<div data-role="content">
<%= render 'form' %>
</div>
