<header>

	<% if signed_in? %>

<nav class="round">

<%= tabs_for do |tab| %>
  <% tab.create_ajax(usuario_path(current_user.id), 'Mi perfil') do %>
	<% end %>
  <% tab.create_ajax(usuarios_path, 'Empleados') do %>
	<% end %>
  <% tab.create_ajax(requerimientos_path, 'Requerimientos') do %>
	<% end %>
  	<% tab.create_ajax(vacantes_path, 'Vacantes') do %>
	<% end %>
    	<% tab.create_ajax(posicions_path, 'Posiciones') do %>
	<% end %>
  	<% tab.create_ajax(candidatos_path, 'Candidatos') do %>
	<% end %>
    	<% tab.create_ajax(solicituds_path, 'Solicitudes') do %>
	<% end %>
    	<% tab.create_ajax(entrevista_path, 'Entrevistas') do %>
	<% end %>
      	<% tab.create_ajax(areas_path, 'Areas') do %>
  <% end %>
    	<% tab.create_ajax(logout_path, 'Logout') do %>
	<% end %>

<% end %>

	<% end %>
  </nav>
  <br/>
</header>